#titulo{
    text-align: center;
    margin-top: 40px;
    color: #005c6e;
    font-weight: bold;
}

.linha{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.card-title{
    color: #2bb8c9;
}


#esquerda{
    margin-left: 80px;
}

#direita{
    margin-right: 80px;
}

#card01{
    margin-left: auto;
    margin-right: auto;
}

.card-text{
    color: #333333;
}
