.navbar-nav,
.mr-auto {
flex: 1;
margin-left: 10px;
margin-right: 10px;
display: flex;
justify-content: space-between;

}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: lightgray;
  }

  #imagens{
      display:flex;
      justify-content: center;
      justify-items: center;
      background-color: #f3f3f3;
  }

  #logo{
    margin-top: 38px;
    margin-right: 90px;
  }


  #menu{
    background-color: #005c6e;
    position: absolute;
    margin-left: 5%;
    margin-top: -16px;
    width: 90%;
    height: 11%;
  }

  a { 
    color: whitesmoke;
    text-decoration: none;
  }

  a:hover{
    color:lightgray;
  }

  .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5px;
    font-weight: bold;
  }